{% extends 'layout/index.html' %}
{% block head %}
	<link href="/static/css/feedin-editor.css" rel="stylesheet">
	<script src="/static/js/feedin-editor.js"></script>
	<script src="/static/js/csrf.js"></script>
{% endblock %}

{% block content %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<input type="hidden" name="feed_id" value="{{feed_id}}">
	<div class="row">
		<div class="dol-md-12">
			<div class="btn-group" role="group" aria-label="...">
				<button id='btnSave'>Save</button>
				<a href="/feeds">Back</a>
				<button id='btnDebug'>Debug</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div id="div_left_menu">
				<h3>Fetch</h3>
				<div>
					<div control-type="xpathfetchpage" class="control">
						<label class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left ui-corner-right"><span class="ui-button">XPathFetch</span></label>
					</div>
					<div control-type="pagefetch" class="control">
						<label class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left ui-corner-right"><span class="ui-button">PageFetch</span></label>
					</div>
				</div>
				<h3>Operators</h3>
				<div>
					<div control-type="loop" class="control">
						<label class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left ui-corner-right"><span class="ui-button">Loop</span></label>
					</div>
					<div control-type="rename" class="control">
						<label class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left ui-corner-right"><span class="ui-button">Rename</span></label>
					</div>
				</div>
			</div>
		</div>
		<div id="editor" class="col-md-10 edit-region">
			
		</div>
	</div>
	<script>
		$(function(){
				editor = $("#editor").editor({'saveUrl':'/feeds/save'});
				
				$("#btnSave").click(function(){
						console.log(editor.toJson());
						editor.save();
				});
				
				$("#btnDebug").click(function(){
					console.log(editor.toJson());
					$.ajax({
						url : '/feeds/debug',
						method : 'post',
						data : {
							'_def' : editor.toJson()
						},
						dataType : 'json',
						error : function() {
							console.log("error");
						},
						success : function(data) {
							console.log("success");
							console.log(data);
						}
					});
				});
				
				if ($("input[name='feed_id']").val()){
					editor.load($("input[name='feed_id']").val())
				}
		});
		
	</script>
{% endblock %}