	.control label{width:150px;text-align:left;padding-left:5px}
	.editing_control {position:absolute}
	.editing_control div{position:relative}
	.module {position:absolute;min-width:150px;}
	.module .title {}
	.module .title .buttons {position:absolute;right:1px;top:1px}
	.module .title .buttons li{display:block;float:left}
	.module .content {background-color:white}
	.edit-region {background:url(/static/img/grd8_bg_1.gif);height:1000px}
	.edit-region .editing_control .ternimal{position: absolute;  cursor: pointer;  z-index: 2;  white-space: nowrap;  line-height: 0px;}
	.edit-region .editing_control .south{top:auto;right:auto;left:50%;bottom:0px;}
	.edit-region .editing_control .north{top:0px;right:auto;left:50%;bottom:auto;}
	