	.control label{width:150px;text-align:left;padding-left:5px}
	.editing_control {z-index:1;position:absolute}
	.editing_control div{position:relative}
	.module {position:absolute;min-width:150px;}
	.module .title {}
	.module .title .buttons {position:absolute;right:1px;top:1px}
	.module .title .buttons li{display:block;float:left}
	.module .content {background-color:white}
	.edit-region {background:url(/static/img/grd8_bg_1.gif);height:1000px;overflow:auto}
	.edit-region .editing_control .terminal{position: absolute;  cursor: pointer;  z-index: 2;  white-space: nowrap;  line-height: 0px;}
	.edit-region .editing_control .terminal .terminalrender{margin-left:-8px;}
	.edit-region .editing_control .south{top:auto;right:auto;left:50%;bottom:0px;}
	.edit-region .editing_control .north{top:0px;right:auto;left:50%;bottom:auto;}
	.edit-region canvas.wire {z-index:0;}
	.edit-region canvas.wire-current {z-index:9999;}
	.edit-region .LoopModule .empty {height:100px;}
	.edit-region .RenameModule .paramadd{width:12px;height:16px;background:url(../img/lstadd_btn_nrm_2.png) no-repeat}
	.edit-region .RenameModule .paramdel{width:12px;height:16px;background:url(../img/lstdel_btn_nrm_2.png) no-repeat}